---
import ArrowPage from './icons/ArrowPage.astro';

interface Props {
  date: string;
  title: string;
  company: string;
  description: string;
  link?: string;
  id?: string;
}
const { date, title, company, description, link, id } = Astro.props;
---
<style>
  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

<div class="flex flex-col">
  <h3 class="text-lg font-semibold text-orange-400 dark:text-yellow-200 mt-2">
    <span transition:name={id}>{title}</span>
  </h3>
</div>
<h2 transition:name={company}
  class="mb-1 text-sm font-normal leading-none text-[#6f95ff]/90 dark:text-sky-200/90"
  >{company} | {date}</h2
>
<p transition:name={description}
  class="mb-4 text-base font-normal text-truncate text-[#1c0b2b]/90 dark:text-gray-200 text-pretty"
>
  {description}
</p>

{
  id && (
    <a
      href={`/experience/${id}`}
      class="inline-flex items-center font-medium text-[#1c0b2b]/90 dark:text-white bg-[#1c0b2b]/5  rounded-full border border-[#1c0b2b]/10 dark:border-white/10  gap-x-2 py-1 px-2 md:py-2 md:px-4 dark:bg-white/5 hover:bg-[#1c0b2b]/30 dark:hover:bg-white/30 text-xs md:text-base hover:scale-110 transition"
    >
      Learn more...{" "}
      <ArrowPage class="size-4" />
    </a>
  )
}
