---
import SocialStack from "../components/SocialStack.astro";
import { PROJECTS } from "../data/projects"

import GithubIcon from "../components/icons/Github.astro";
import DemoIcon from "../components/icons/Demo.astro";
---
<style>
  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2">
  {
    PROJECTS.map((project) => (
      <article class="border border-white/10 p-4 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
          {project.title}
        </h3>
        <img
          class="rounded shadow-white/10"
          src={project.image}
          alt={`Screenshot project ${project.title}`}
        />
        <p class="text-lg mb-4 text-pretty text-truncate">{project.description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {project.tags.map((tag) => (
            <li>
              <span
                class={`rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 bg-white/5 hover:scale-110 hover:bg-white/30 text-xs md:text-base transition ${tag.class}`}
              >
                <tag.icon class="size-7" />
              </span>
            </li>
          ))}
        </ul>
        <div class="flex gap-4">
          <SocialStack href={project.github}>
            <GithubIcon class="size-7" />
          </SocialStack>
          <SocialStack href={project.link}>
            <DemoIcon class="size-7" />
          </SocialStack>
        </div>
      </article>
    ))
  }
</div>
